// Define variables for your color scheme

// For example:
$red: #FD1015;
//$blue: #0D6EFD;
//$yellow: #FFC65A;
//$orange: #E67E22;
//$green: #1EDD88;
//$gray: #0E0000;
//$light-gray: #F4F4F4;

$orange: #C89473;
$brown: #793a13;
$light-brown: #8c5635;
$yellow: #E2C7AD;
$beige: #D4C7BE;
$light-beige: #E2C7AD;
$grey: #f1eee9;
$dark-green: #5A6658;
$green: #5A6658;
$light-green: #A1BAAA;
$dark-purple: #605462;
$purple: #AFA3B1;
$light-purple: #DCD9DE;
$blue: #BEC9D7;
$light-blue: #D6E3E8;
$new-beige: #967860;
