// Specific CSS for your home-page
#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  h2 {
    font-family: "Arsenal";
  }
  .last-bloc {
    background-color: #dcccc2;
    width: 100%;
    padding: 2em 0;
    div {
      text-align: center;;
      .bulle {
        color: $brown;
      }
      p {
        color: $brown;
        margin: 0;
        font-family: 'Barlow';
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .section-home {
    display: flex;
    margin: 5em 0;
    .text {
      width: 45%;
      position: relative;
      .text-absolute {
        position: absolute;
        padding: 2em;
        top: 2em;
        right: -5em;
        max-width: 100%;
        background-color: $grey;
        &.right {
          right: auto;
          left: -5em;
        }
        p {
          font-family: "Barlow";
          font-weight: normal;
        }
      }
    }
    .visuel {
      width: 55%;
      img {
        width: 100%;
      }
    }
    &.first {
      .visuel {
        height: 725px;
        img {
          height: 100%;
        }
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
    .card {
      background-color: #F1EEE9;
      display: flex;
      flex-direction: column;
      padding: 2em;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 2em;
      border: none;
      img {
        width: auto;
        height: 6em;
        object-fit: contain;
        margin-bottom: 2em;
      }
    }
  }
  .inside.form-2 {
    display: flex;
    width: 100%;
    div { width: 100%;}
  }
}
