<footer>
  <ul>
    <li><%= link_to "Contactez-nous", contact_path %></li>
    <li><%= link_to "Politique de confidentialite", confidentialite_path %></li>
    <li><%= link_to "Mentions légales", mentions_path %></li>
    <li><%= link_to "Support/FAQ", faq_path %></li>
  </ul>
</footer>
