<header>
<div class="header-elements-2 inside">
<nav class="nav-2">
<p>
logo
</p>
<ul>
<li>Accueil</li>
<li>Qui sommes-nous</li>
<li>Devenir co-créatrice.eur</li>
<li>Groupe Facebook</li>
<li>Contactez-nous</li>
</ul>
</nav>
</div>
</header>
