<header>
<div>
<div class="header-elements">
  <%= image_tag "logo.png", class: "logo" %>
  <p>Participez à la 1ère marque de cosmétiques pour professionnels co-créée avec des esthéticien.ne.s</p>
</div>
</div>
<nav>
  <ul>
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Qui sommes-nous</a></li>
    <li><a href="#">Participer à nos sondages</a></li>
    <li><a href="#">Devenir co-créatrice.eur</a></li>
    <li><a href="#">Notre groupe Facebook</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
</header>
