<header>
<div class="header-elements-2 inside">
  <nav class="nav-2">
    <%= image_tag "Logo-cosmetiquebiopro.png", class: "logo2", width:250 %>
    <ul>
      <a href=""><li>Accueil</li></a>
      <a href=""><li>Qui sommes-nous</li></a>
      <a href=""><li>Devenir co-créatrice.eur</li></a>
      <a href=""><li>Groupe Facebook</li></a>
      <a href=""><li class="brown">Contactez-nous</li></a>
    </ul>
  </nav>
</div>
</header>
