<div id="mobile-container" class="d-flex justify-content-between align-items-center py-3 px-5 bg-info text-white">
  <h1>LOGO</h1>
  <nav>
    <a id="link" href="#"><span id="burger"></span></a>
    <ul class="list-unstyled">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Formation</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
