<div id="mentions">
  <section class="inside">
    <h1>Mentions légales</h1>
<h2>Propriétaire du site</h2>
<p>
LES LABORATOIRES PHYTODIA<br>
850 Boulevard Sébastien Brant<br>
67405 Illkirch – France<br>
Tel : +33(0)3 68 66 80 07<br>
Email : info*at*phytodia.com<br>
SAS au capital de 11 005,00 €<br>
R.C.S Strasbourg : 809 300 304 00015<br>
APE : 7219Z<br>
TVA : FR42 809 300 304<br>
</p>

<h2>Création du site internet</h2>

<p>Agence Advisa<br>
32 rue du bassin d’Austerlitz<br>
67100 STRASBOURG – France<br>
Tel : (33) 0811 461 047<br>
Email : contact*at*advisa.fr<br>
</p>

<h2>Crédits</h2>

<h2>Concept et production</h2>

<p>Ce site internet a été réalisé en utilisant la solution open-source PrestaShop™ .</p>


<h2>Hébergement</h2>

<p>OVH<br>
2 rue Kellermann – 59100 Roubaix – France<br>
SAS au capital de 10 059 500,00 €<br>
RCS Lille Métropole 424 761 419 00045<br>
APE 6202A<br>
TVA : FR22 424 761 419<br>
</p>

<p>Loi du 6 janvier 1978 relative à l’informatique et aux libertés et loi
n°2004-575 du 21 juin 2004 pour la confiance dans l’économie
numérique</p>

<p>Conformément à la loi informatique et liberté du 6 janvier 1978 modifiée par la loi du
6 aout 2004, nous sommes tenu de prendre toutes précautions utiles, au regard de la
nature des données et des risques présentés par le traitement, pour préserver la
sécurité des données et, notamment, empêcher qu’elles soient déformées,
endommagées, ou que des tiers non autorisés y aient accès. Vos données ne seront
donc en aucun cas transmises à des tiers, personne physique ou morale.
Vous détenez, de plus, un droit d’accès, de modification, de rectification et de
suppression sur l’ensemble des données détenue par LES LABORATOIRES PHYTODIA.
</p>
<p>L’envoi d’un mail à info*at*phytodia.com ou un courrier adressé à
Les Laboratoires Phytodia, 850 Boulevard Sébastien Brant, 67405 Illkirch, France
vous permet d’exercer vos droits.
</p>

<h2>Propriété intellectuelle et droit d’auteur</h2>

<p>En vertu de l’article L.122-4 du code de la propriété intellectuelle « Toute
représentation ou reproduction intégrale ou partielle faite sans le consentement de
l’auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la
traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un
art ou un procédé quelconque. » Dès lors, toute reproduction, représentation,
diffusion du contenu de ce site (graphisme, logos, photos…) sur tout type de support
présent et non envisagé est interdite, sauf autorisation expresse de LES
LABORATOIRES PHYTODIA, et est susceptible de constituer un acte de
contrefaçon engageant les responsabilités civiles et pénales de tout contrevenant. La
mise en place d’un lien hypertexte pointant vers l’adresse http://www.phytodia.com/
est autorisée mis à part pour tout site web contenant des informations à caractère
pornographique, xénophobe, politique, religieux, ainsi que tout site contenant des
caractères allant à l’encontre des bonnes mœurs et de l’ordre public.
</p>
<p>LES LABORATOIRES PHYTODIA n’est en aucun cas responsable du contenu des sites
sur lesquels il apparait en hyperlien.</p>
  </section>
</div>
