<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Inscription nouvelle consultante</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Email: <%= @email %></p>
    <p>Pièce jointe : <%= @file %>
    ----------
    </p>
    <p></p>
  </body>
</html>
