<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouvelle créatrice</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Email: <%= @email %></p>
    <p>Date d'atelier : <%= @date_atelier %></p>
    ----------
    </p>
    <p>RGPD: <%= @rgpd %></p>
  </body>
</html>
