<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouveau contact</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Nom: <%= @lastname %></p>
    <p>Prénom: <%= @firstname %></p>
    <p>Email: <%= @email %></p>

    Message: <%= @message %><br>
    ----------
    </p>
    <p></p>
  </body>
</html>
