header {
  div:first-of-type {
    background-color: $light-brown;
    min-height: 20vh;
    height: auto;
    padding: 2em 0;
    .header-elements {
      display: flex;
      flex-direction: column;
      max-width: 1500px;
      margin: auto;
      justify-content: center;
      align-items: center;
      .logo {
        width: 20%;
        height: auto;
      }
      color: white;
      p {
        text-align: center;
        font-size: 1.2em;
        font-family: 'Barlow';
        sup {
          font-size: 0.7em;
        }
      }
    }
  }
  nav {
    background-color: $brown;
    display: flex;
    justify-content: center;
    ul {
      max-width: 1500px;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 0.5em 0;
      li {
        border-left: solid 1px white;
        opacity: 40%;
        text-transform: uppercase;
        a { text-decoration: none; color: white; opacity: 60%;
          padding: 0em 1.5em;
          &:hover { color: white; opacity: 100%;}
        }
        &:hover {
          opacity: 100%;
          a { opacity: 100%;}
        }
      }
      li:last-of-type { border-right: solid 1px white; }
      font-family: 'Barlow';
    }
  }
}
main {
  min-height: 100vh;
  background-color: white;
}
h2 {
  color: $brown;
}
.inside {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
footer {
  background-color: $brown;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    max-width: 1500px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0.5em 0;
    li {
      padding: 0em 1.5em;
      border-left: solid 1px white;
      a { text-decoration: none; color: white;}
      text-transform: uppercase;
      font-family: 'Barlow';
    }
    li:last-of-type { border-right: solid 1px white; }
  }
}
